
<div class="jumbotron">
    <h1>Welcome to the Grand Circus Coffee Shop!!!!</h1>
    <p class="lead">Our Coffee is better than your coffee...</p>
    <p><a href="/Home/Registration" class="btn btn-primary btn-lg">Register Now! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Why Us?</h2>
        <p>Our coffee is the best.</p>
        <p><a class="btn btn-default" href="/Home/Registration">Register!!!! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more coffee by registering!!!</h2>
        <p>It's worth it!!!!</p>
        <p><a class="btn btn-default" href="/Home/Registration">Seriously.... register... &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>DRINK ALL THE COFFEE!!!!!</h2>
        <p>WHAT ARE YOU WAITING FOR!!!?!?!?!?!?</p>
        <p><a class="btn btn-default" href="/Home/Registration">Why haven't you registered???&raquo;</a></p>
    </div>
</div>