
<h2>Register Here!!!</h2>
<h3>@ViewBag.Message</h3>

<form method="post" action="/Home/ThankYou">
    <label for="firstname">First name:</label><br>
    <input type="text" name="firstname"><br>
    <label for="lastname">Last name:</label><br>
    <input type="text" name="lastname"><br />
    <label for="email">Email Address:</label><br>
    <input type="text" name="email"><br>
    <label for="password">Password:</label><br>
    <input type="text" name="password"><br /><br />
    <input type="submit" value="Submit">
</form>

